# {{ project_name }}

[![Managed by Forge](https://img.shields.io/badge/managed%20by-Forge-blue.svg)](https://github.com/pesap/forge)

{{ description }}

## Development

```bash
uv sync --all-groups
just verify
```
