{% if enabled %}      - name: Upload coverage to Codecov
        if: {% raw %}${{ matrix.python-version == '3.14' }}{% endraw %}
        uses: codecov/codecov-action@e79a6962e0d4c0c17b229090214935d2e33f8354 # v6
{% else %}      # {{ notice }}
      # - name: Upload coverage to Codecov
      #   uses: codecov/codecov-action@e79a6962e0d4c0c17b229090214935d2e33f8354 # v6
{% endif %}
