import { defineConfig } from 'astro/config';
import starlight from '@astrojs/starlight';

export default defineConfig({
  integrations: [
    starlight({
      title: 'Project Docs',
      head: [],
      sidebar: [
        {
          label: 'Guides',
          items: [{ label: 'Introduction', link: '/' }],
        },
      ],
    }),
  ],
});
