[build-system]
requires = ["uv_build~=0.11.7"]
build-backend = "uv_build"

[project]
name = {{ project_name }}
version = "0.1.0"
description = {{ description }}
{{ authors }}license = { file = "LICENSE.txt" }
readme = "README.md"
requires-python = {{ requires_python }}
dependencies = []

[dependency-groups]
dev = [{ include-group = "code-quality" }, { include-group = "test" }]
code-quality = ["prek~=0.4.1", "ruff~=0.14.0", "ty~=0.0.1"]
test = ["pytest~=9.0.0", "pytest-cov~=7.0.0", "pytest-xdist~=3.2.0"]
{{ docs_group }}
[tool.uv.build-backend]
module-name = {{ package_name }}
module-root = "src"

[tool.pytest.ini_options]
minversion = "9.0"
pythonpath = ["src"]
testpaths = ["tests"]
norecursedirs = [".git", ".venv", "build", "dist", "node_modules"]
addopts = [
  "-ra",
  "-q",
  {{ coverage_arg }},
  "--cov-report=term-missing:skip-covered",
]
strict = true
cache_dir = {{ pytest_cache_dir }}

[tool.ruff]
line-length = 110

[tool.ruff.lint]
select = [
  "E",
  "F",
  "I",
  "UP",
  "B",
  "SIM",
  "RUF",
  "ARG",
  "C4",
  "PIE",
  "PTH",
  "RET",
  "TID",
  "TC",
  "PERF",
]
ignore = ["E501"]
fixable = ["ALL"]

[tool.ty.rules]
all = "error"

[tool.forge]
blueprint = "{{ blueprint_name }}>={{ blueprint_version }}"
{{ license }}gitignore_profile = {{ gitignore_profile }}
{{ forge_ignore }}{{ forge_overrides }}
