# {{ project_name }}

[![CI](https://github.com/OWNER/REPO/actions/workflows/ci.yaml/badge.svg)](https://github.com/OWNER/REPO/actions/workflows/ci.yaml)
[![Release Please](https://github.com/OWNER/REPO/actions/workflows/release-please.yaml/badge.svg)](https://github.com/OWNER/REPO/actions/workflows/release-please.yaml)
[![codecov](https://codecov.io/gh/OWNER/REPO/graph/badge.svg)](https://codecov.io/gh/OWNER/REPO)
[![Managed by Forge](https://img.shields.io/badge/managed%20by-Forge-blue.svg)](https://github.com/pesap/forge)

{{ description }}

## Local Development

```bash
uv sync --all-groups
just verify
```
