[files]
extend-exclude = [
  "CHANGELOG.md",
  "data/**",
  "docs/dist",
  "node_modules",
  "tests/data/**",
  "uv.lock",
]

[default]
extend-ignore-identifiers-re = ["PTDFs?"]

[default.extend-words]
codecov = "codecov"
prek = "prek"
starlight = "starlight"
